<% if (!filter) { %>
<div  style="position: absolute; top: 25px; right: 15px; width: 150px; min-width: 200px;">Filter&nbsp;&nbsp;
<select id="selectLog">
	<option value="alles">Alles</option>
	<option value="create">Aangemaakt</option>
	<option value="view">Bekeken</option>
	<option value="download">Gedownload</option>
</select></div>

<h3>Notificaties</h3>
<div id="scrollbar2">
	<div class="scrollbar"><div class="track"><div class="thumb rounded-corners"><div class="end"></div></div></div></div>
	<div class="viewport">
		<div class="overview">	
			<div id="logLijst">
<% } %>