<div class="row">	
	<div class="col-md-3 col-sm-3 col-xs-3">	
		<section id=settingsInformation>
			<h3 style=font-size:22px;margin-top:5px>Telling ingeven/uploaden</h3>
			<p>Op deze pagina kan u tellingen ingeven en/of uploaden.</p>
			<p>Indien de gegevens niet worden opgeladen is het mogelijk om een automatische mail te laten opstellen, zodat mensen of organisaties de gegevens via deze mail kunnen opvragen</p>
		</section>
	</div>
	<div class="col-md-9 col-sm-9 col-xs-9">	
		<article>
			<form id="tellingenIngeven" action="/telling/create" method="post">
				<div class="row" id="choose_pic">	
					<div class="col-md-12 col-sm-12 col-xs-12">							
						<div class="col-md-6 col-sm-6 col-xs-6">
							<div>
								<label for=type_ingave>Type</label>
								<select name="type_ingave">
									<option value="uploaden">Uploaden</option>	
									<option value="opvragen">Opvragen</option>																
								</select>
							</div>
							<div id="uploadenContainer">
								<p style="font-size: smaller; text-align: center; width: 80%">Maxmimum grote: 100MB</p>
								<form id="upload_file" style="display:none;" action="upload">
									<input type="file" id="uploadFile" name="filename" style="display:none;" multiple/>
								</form>
								<p><a class="btn btn-info dropzone" href="#" role="button">Bijlage Kiezen & Uploaden</a></p>
								<div class="progress progress-striped active" style="width: 80%; margin-top: 10px; display: none;">
								  <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
								    <span class="sr-only">45% Complete</span>
								  </div>
								</div>
								<strong>Geuploade bestanden:</strong>
								<input type=hidden name=filenames id=filenames />
								<ul id=uploadedFiles>
									
								</ul>
							</div>
							<div id="opvraagContainer" style="display: none">
								<div>
									<label for=kmpunt>Telling ID</label>
									<input name=tellingId placeholder="Telling ID" type=text />	
								</div>					
								<div style=margin-top:8px>
									<input type="checkbox" name="telZichtbaar" id="telZichtbaar"><label for=telZichtbaar  style="padding-top:-5px">&nbsp;&nbsp;Toon mijn telefoonnummer.</label>
								</div>
								<div style="margin:8px 0 8px">
									<input type="checkbox" name="emailZichtbaar" id="emailZichtbaar"><label for=emailZichtbaar>&nbsp;&nbsp;Toon mijn Email adres.</label>
								</div>
								<div>
									<label for=priveOpmerkingen>Persoonlijke opmerkingen</label>
									<textarea name=priveOpmerkingen placeholder=Opmerkingen rows=5></textarea>
									<p style="font-size:x-small; color: #999">Niet zichtbaar voor anderen.</p>
								</div>		
							</div>
						</div>
						<div class="col-md-6 col-sm-8 col-xs-12">
							<div>
								<label for=Locatie>Locatie(s) telling</label>
								<div style="" id=form_locatie><a href="#locatie_toevoegen" class="add-location">Voeg een Locatie toe</a></div>
								<input type="hidden" id="locaties" name="locaties" required=true>
								<div class="subText">GPS Coördinaten: <div  id="locatie_coordinaten"></div></div>
								<input type="hidden" id="locatie_coordinaten_hidden" name="locatie_coordinaten"/>
							</div>
							<!--<div>
								<label for=typeTelling>Type Telling</label>
								<input name=typeTelling id=typeTelling type=text list="tellingType" placeholder="Type tekst"/>
								<datalist id="tellingType">
									<option value="Kruispunttelling">								  								  
									<option value="OV-doorstromingsgegevens">
									<option value="OV-cordontellingen">
									<option value="OV-lijnvoering">
									<option value="Slang/doorsnedetelling">
									<option value="Snelheidsmeting">
									<option value="Permanente detectielus">
								</datalist>
							</div>-->
							<!--<div>
								<label for=locatie_coordinaten>GPS Coördinaten</label>
								<input type="text" id="locatie_coordinaten" name="locatie_coordinaten" placeholder="Locatie" disabled=true required=true>
							</div>-->
							<div>
								<label for=kmpunt>Kilometerpunt</label>
								<input name=kmpunt placeholder=Kilometerpunt type=text />	
							</div>
							<div>
								<label for=datumType>Datum Telling (type)</label>
								<select name=datumType id=datumType>
									<option>--selecteer--</option>
									<option value=1>Alle tellingen op 1 dag</option>
									<option value=v_t>Van - Tot</option>
									<option value=jaarlijks>Jaarlijks</option>
								</select>
							</div>
							<div style="display:none" class="1 datums">
								<label for=datum>Datum telling</label>
								<input name=datumTelling placeholder=Datum type=text class=datepicker />
							</div>
							<div style="display:none" class="v_t datums">
								<label for=datum>Datum telling (van)</label>
								<input name=datumTelling_van placeholder=Datum type=text class=datepicker />
							</div>
							<div style="display:none" class="v_t datums">
								<label for=datum>Datum telling (tot)</label>
								<input name=datumTelling_tot placeholder=Datum type=text class=datepicker />
							</div>							
							<!--<div>
								<label for=data>Data</label>
								<select name="data">
									<option value="ongecontroleerd">Ongecontroleerd</option>
									<option value="gecontroleerd">Gecontroleerd</option>
								</select>
							</div>-->
							<div>
								<label for=opmerkingen>Opmerkingen</label>
								<textarea name=opmerkingen placeholder=Opmerkingen rows=5></textarea>
							</div>
							<div style="width: 100%; text-align: right; padding-right: 20%; margin-top: 10px">
								<button type=submit value="Telling Uploaden" class="btn btn-info" >Telling Opslaan</button>
							</div>
						</div>
					</div>	
				</div>		
			</form>
		</article>
	</div>
</div>
<div id=overlay>	
	<div id=map-canvas></div>
	<input type=text placeholder="Locatie zoeken" id="searchTextField">
	<div style="position: absolute; top: 0px; right: 0px; bottom: 0px; width: 20%; padding: 8px 12px">
		<h3 style="display:inline-block;">Locatie toevoegen</h3>
		<i class="glyphicon glyphicon-info-sign help-sign"></i>
		<div class="help" id="locatieHelp">
			<p style="font-size: smaller">Zoek in het tekstvak naar de juiste locatie of klik op de juiste plaats. Als het icoontje op de plaats op de kaart staat dan klik je op "Plaats bewaren".</p>
			<p style="font-size: smaller"> Als er een icoon op de kaart staat, dan kan u deze verslepen, als u het icoon loslaat dan wordt het dichtsbijzijnde adres gebruikt.</p>
		</div>
		<div id="place">
			
		</div>
		<div id="place_data" style="display:none"></div>
		<button class="btn btn-default btn-sm" id="close_overlay">Kaart sluiten</button>
		<button class="btn btn-primary btn-sm" id=save_place>Bewaren</button>
	</div>
	<div id="LocatieInformatieOverlay">
		<div id="locatieText"></div>
		<div id="locatieTextFixed"></div>
		<div class="fadeIn">
			<label for=editTypeTelling>Icoon telling</label>
			<select id=editTypeTelling name=editTypeTelling class="typeTelling">
				<option value="Kentekenregistratie">Kentekenregistratie</option>
				<option value="Kruispunttelling">Kruispunttelling</option>
				<option value="OV-cordontellingen">OV-cordontellingen</option>					  								  
				<option value="OV-doorstromingsgegevens">OV-doorstromingsgegevens		
				<option value="OV-lijnvoering">OV-lijnvoering</option>
				<option value="PermanenteDetectielus">Permanente detectielus</option>
				<option value="SlangDoorsnedetelling">Slang/doorsnedetelling</option>
				<option value="Snelheidsmeting">Snelheidsmeting</option>
			</select>
			<div class="typeIcon editTypeIcon">
				<img src="/images/cctv.png" class="Kentekenregistratie">
			</div>
		</div>	
		<div class="fadeIn">
			<div id=editOpmerkingLocatie placeholder="Informatie" contenteditable="True"></div>
		</div>
		<div style="margin-top: 15px; width: 100%; text-align: left;" class="fadeIn">
			<button class="btn btn-default btn-sm" id="close_informatieOverlay">Annuleren</button>
			<button class="btn btn-primary btn-sm" id=edit_place>Bewaren</button>
			<button class="btn btn-danger btn-sm glyphicon glyphicon-trash editRemove_location"></button>
		</div>
	</div>
	<div id=infoOverlayContainer>
		<div id="infoOverlay">
			<div>
				<label for=locatieNaam>Locatie</label>
				<input disabled="disabled" type="text" name=locatieNaam id=locatieNaam />
				<div id=locatieCo></div>
			</div>
			<div>
				<label for=typeTelling>Icoon telling</label>
				<select id=typeTelling name=typeTelling class="typeTelling">
					<option value="Kentekenregistratie">Kentekenregistratie</option>
					<option value="Kruispunttelling">Kruispunttelling</option>
					<option value="OV-cordontellingen">OV-cordontellingen</option>					  								  
					<option value="OV-doorstromingsgegevens">OV-doorstromingsgegevens		
					<option value="OV-lijnvoering">OV-lijnvoering</option>
					<option value="PermanenteDetectielus">Permanente detectielus</option>
					<option value="SlangDoorsnedetelling">Slang/doorsnedetelling</option>
					<option value="Snelheidsmeting">Snelheidsmeting</option>					
				</select>
				<div class="typeIcon">
					<img src="/images/cctv.png" class="Kentekenregistratie">
				</div>
			</div>		
			<div>
				<label for=opmerkingLocatie>Informatie</label>
				<div id=opmerkingLocatie placeholder="Informatie" contenteditable="True"></div>
			</div>
			<div class="btnContainer">
				<button class="btn btn-default btn-sm" id="close_infoOverlay">Annuleren</button>
				<button class="btn btn-primary btn-sm" id=save_icon>Icoon plaatsen</button>
			</div>
		</div>
	</div>
</div>
<div id="hiddenIcons">
	<img src="/images/bus.png" class="OV-doorstromingsgegevens">
	<img src="/images/busstop.png" class="OV-lijnvoering">
	<img src="/images/cctv.png" class="Kentekenregistratie">
	<img src="/images/junction.png" class="Kruispunttelling">
	<img src="/images/speed_50.png" class="Snelheidsmeting">
	<img src="/images/stargate-raw.png" class="OV-cordontellingen">
	<img src="/images/street lus.png" class="PermanenteDetectielus">
	<img src="/images/street slang.png" class="SlangDoorsnedetelling">
</div>
